#
# Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Headers "*"
# Header set Access-Control-Allow-Methods "*"

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,e]
#
## Disable ETags
#<IfModule mod_headers.c>
#    Header unset ETag
#    Header set Connection keep-alive
#</IfModule>
#FileETag None
# 
############### CACHING-GZIP ############
#<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresDefault A2592000
# 
#<FilesMatch "\.(txt|xml|js)$">
#ExpiresDefault A2592000
#</FilesMatch>
# 
#<FilesMatch "\.(css)$">
#ExpiresDefault A2592000
#</FilesMatch>
# 
#<FilesMatch "\.(flv|ico|avi|mov|ppt|doc|mp3|wmv|wav|mp4|m4v|ogg|webm|aac)$">
#ExpiresDefault A2592000
#</FilesMatch>
# 
#<FilesMatch "\.(jpg|jpeg|png|gif|swf|webp)$">
#ExpiresDefault A2592000
#</FilesMatch>
#</IfModule>
# 
#<FilesMatch "\.(pdf)$">
#ExpiresDefault A1
#</FilesMatch>
#<IfModule mod_headers.c>
#  <FilesMatch "\.(txt|xml|js)$">
#   Header set Cache-Control "max-age=2592000"
#  </FilesMatch>
# 
#  <FilesMatch "\.(css)$">
#   Header set Cache-Control "max-age=2592000"
#  </FilesMatch>
# 
#  <FilesMatch "\.(flv|ico|avi|mov|ppt|doc|mp3|wmv|wav|mp4|m4v|ogg|webm|aac)$">
#   Header set Cache-Control "max-age=2592000"
#  </FilesMatch>
# 
#  <FilesMatch "\.(pdf)$">
#   Header set Cache-Control "max-age=1"
#  </FilesMatch>
#  <FilesMatch "\.(jpg|jpeg|png|gif|swf|webp)$">
#   Header set Cache-Control "max-age=2592000"
#  </FilesMatch>
#</IfModule>
# 
 
# <IfModule php7_module>
#   php_flag display_errors off
#   php_value max_execution_time 300
#   php_value max_input_time 600
#   php_value max_input_vars 1000
#   php_value memory_limit 5120M
#   php_value post_max_size 2048M
#   php_value session.gc_maxlifetime 1440
#   php_value session.save_path "/var/cpanel/php/sessions/ea-php74"
#   php_value upload_max_filesize 2048M
#   php_flag zlib.output_compression Off
#</IfModule>
#<IfModule lsapi_module>
#   php_flag display_errors off
#   php_value max_execution_time 300
#   php_value max_input_time 600
#   php_value max_input_vars 1000
#   php_value memory_limit 5120M
#   php_value post_max_size 2048M
#   php_value session.gc_maxlifetime 1440
#   php_value session.save_path "/var/cpanel/php/sessions/ea-php74"
#   php_value upload_max_filesize 2048M
#   php_flag zlib.output_compression Off
#</IfModule>
# END cPanel-generated php ini directives, do not edit